<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ><span #header> {{pageHeader}}  </span>  <ion-icon (click)="presentPopover($event)" name="arrow-dropdown"></ion-icon> </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding="true" class="has-header ">
  <ion-row>
    <ion-col width-25>
      <a ion-item (click)="addParty()">
				      Wait List
			<ion-icon  item-right ios="ios-add-circle"  md="md-add-circle"></ion-icon>
			</a>
      <ion-list id="mainDiningRoom-list12">
        <ion-item class="item-icon-left item-icon-right" *ngFor="let wlist of waitList">
          <ion-icon name="checkmark-circle"></ion-icon> {{wlist.name}}
          <ion-note item-right>{{wlist.notes}}</ion-note>
          <ion-note item-right>
            <timer [timeInSeconds]="wlist.waitTime"></timer>
          </ion-note>
        </ion-item>
      </ion-list>
      <ion-footer style="width:25%">
        <ion-navbar>
          <button ion-button>Open 0 /19</button>
          <button ion-button>Seated 0 /1</button>
          <button ion-button>Served 0 /19</button>
          <button ion-button>Clean 0 / 19</button>
          <button ion-button icon-right>Ready<ion-icon name="fork"></ion-icon></button>
          <button ion-button icon-right>Paid<ion-icon name="logo-usd"></ion-icon></button>
          <button ion-button icon-right>Ordered<ion-icon name="heart"></ion-icon></button>
        </ion-navbar>
      </ion-footer>
    </ion-col>
    <ion-col>
      <ion-grid>
        <ion-row>
          <ion-col>
          <ion-row id="visualArea">
               <page-floor-one *ngIf="currentFloor == 1" ></page-floor-one>
               <page-floor-two *ngIf="currentFloor == 2"></page-floor-two>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>
